* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    flex-direction: column;
    background-color: #262626;
    margin: 20px;
}
.screen {
    height: 100px;
    width: 101%;
    margin-bottom: 10px;
    background-color: #999;
    border-radius: 10px 10px 0 0;
    margin-top: -2px;
}
.button-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 12px;
    width: 90%;
    margin: 15px;
}
.calc-button {
    border-radius: 10px;
    height: 80px;
    width: 80px;
    font-size: 32px;
}
.equals {
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: span 4;
    height: auto;
}
.dark-gray {
    background-color: #999;
    color: white;
}
.red {
    background-color: #d2385f;
}
