.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
}
.screen {
    height: 20%;
    width: auto;
}
.calc-button {
    border-radius: 5px;
}
